[2017-09-14 22:28] goob47 opened #1 "Radius parameter not working?"
Despite setting a radius of 1609 to find businesses within 1 mile of my location, I'm still receiving businesses that are outside of that radius.

[2017-09-15 20:16] chrisdhaan commented on #1
@goob47 the `radius` parameter is being passed to the Yelp Fusion API successfully. It is my experience that this parameter is not a hard filter, meaning you may still receive results outside of the radius. I would check out the Yelp Fusion documentation or reach out to the Yelp Developers Portal directly if you need more information around how the parameter works within the API.

[2017-09-15 21:49] goob47 commented on #1
That's what I figured. Thanks! :)

[2017-09-15 21:49] #1 closed, assigned to nobody

[2017-10-26 18:00] xixinjie opened #2 "fatal error: unexpectedly found nil while unwrapping an Optional value"
Hi Christopher,
Thank you for wrapping Yelp Fusion API. With your lib, I don't need to write codes from scratch to use the API.

Yet I got an exception **fatal error: unexpectedly found nil while unwrapping an Optional value** when I tried to use it in my project. Then I tried to run the iOS example you provided, but nothing was printed as expected in console.

Could you please fix the issue?

[2017-10-27 03:09] xixinjie commented on #2
iOS example is working, forgot to update clientId and clientSecret.

[2017-11-01 06:22] chrisdhaan commented on #2
@xixinjie glad you were able to get the iOS example running. Can I close this issue or did you still need assistance?

[2017-11-02 07:33] xixinjie commented on #2
@chrisdhaan  It is working perfectly with your lib in my project. Thank you!
[code]

BTW, regarding installation, I preferred Carthage but failed with underlying dependencies (ObjectMapper) problem. Finally I switched to submodule way and it's working now.

[2017-11-02 07:33] #2 closed, assigned to nobody

[2017-11-03 20:27] meandmyselfinoneperson opened #3 "Errorcode: -999"
Hi Christopher,

thanks for sharing the CDYelpFusionKit.

With my Xcode 9.1 and Swift 3 installation I run in a network issue after I am authorized and my parameters (e.g. for search) are transferred:
finished with error - code: -999
searchBusinesses(byTerm) failure:  cancelled

It seems there is an issue in the CDYelpAPIClient.swift with

I tried hard to find out but couldn't finally solve the is

[2017-11-05 17:16] xixinjie opened #4 "Support Swift 4 by upgrading AlamofireObjectMapper to 5.0"
## What did you do?
Tried to install this lib via CocoaPods as per the guides, and use it in my app.

## What did you expect to happen?
Able to install and use

## What happened instead?
Able to install but failed to use it, with error: **toIntMax unavailable**
Please find related issue in [ObjectMapper](https://github.com/Hearst-DD/ObjectMapper/issues?utf8=%E2%9C%93&q=toIntMax)

It should work in

[2017-11-09 00:42] chrisdhaan commented on #4
Hey @xixinjie . I'm working on updating to Swift 4 this week. I'm hoping to have `2.0.0` out by the end of the weekend.

[2017-11-09 00:42] chrisdhaan commented on #3
Hi @meandmyselfinoneperson . That generally occurs when there is a timeout or a bad network connection. Are you still receiving the same error?

[2017-11-09 05:03] xixinjie commented on #4
Thank you @chrisdhaan . When it's done, I will change from submodule to Cocoapods to install the lib.

[2017-11-11 03:19] davecom opened #5 "macOS Support"
* [X] I've read, understood, and done my best to follow the [*CONTRIBUTING guidelines](https://github.com/chrisdhaan/CDYelpFusionKit/blob/master/CONTRIBUTING.md).

Quickly scanning the source code it looks like there is not a lot that is iOS specific, other than the UIImage extensions. macOS support would be fantastic.

[2017-11-11 08:40] chrisdhaan commented on #5
@davecom I completely agree. I'm finishing up a last bit of functionality and then updating the framework to Swift 4. Afterwards I plan on adding macOS, watchOS, and tvOS support. Hopefully can have it done in the next two weeks.

[2017-11-11 21:18] davecom commented on #5
Thanks, that's awesome. Also thanks for making this library. It was sorely needed.

[2017-11-13 16:51] chrisdhaan commented on #4
@xixinjie

Here's an update from this weekend. I just finished up `1.2.0` which I'll be releasing tonight. `1.2.0` contains the rest of the frameworks core functionality. Over the next two days I'll be releasing `1.3.0` which contains macOS, watchOS, and tvOS support. I want to get all of this in for full backwards compatibility for Swift 3 users. Hopefully if this all goes well I'll be pushing `2

[2017-11-13 16:53] chrisdhaan commented on #5
@davecom

Here's an update from this weekend. I just finished up `1.2.0` which I'll be releasing tonight. `1.2.0` contains the rest of the frameworks core functionality. Over the next two days I'll be releasing `1.3.0` which contains macOS, watchOS, and tvOS support. I realized I wanted to get the OS update in before Swift 4 so Swift 3 users of the framework would have full framework functionality

[2017-11-13 16:54] chrisdhaan commented on #3
Hi @meandmyselfinoneperson

Are you still running into this error?

[2017-11-13 19:46] davecom commented on #5
Thanks for update. I'm going to be incorporating the framework in a macOS app, but I will likely not have time to work on it for a few weeks. I'll let you know if any issues come up when I do that. Thank you again.

[2017-11-15 10:05] tqhuy1811 opened #6 "Installing issuse"
Hi Christopher,

I tried to install your framework and encountered this problem after launching my project.

**Could not build Objective-C module 'Alamofire'**

[2017-11-15 21:55] chrisdhaan commented on #6
@tqhuy1811 there isn't enough information here for me to properly assist you. Can you fill out the information below:

## CDYelpFusionKit Environment

**CDYelpFusionKit version:**
**Xcode version:**
**Swift version:**
**Platform(s) running CDYelpFusionKit:**
**macOS version running Xcode:**

and in the future follow the template when submitting an issue?

[2017-11-15 22:58] tqhuy1811 commented on #6
I am sorry, I am kinda new to Github

CDYelpFusionKit version: 1.2.0
Xcode version: 9.0
Swift version: 4.0
Platform(s) running CDYelpFusionKit:  Cocaopod
macOS version running Xcode: 10.13

I tried to creat a "bridging header file" for Alamofire framework but the result is still the same
I also tried to build Alamofire scheme first and clean my project but nothing changed

[2017-11-15 23:07] chrisdhaan commented on #6
Does your project also support `objective-c`? I don't know why a bridging header file would be needed. I'm able to install the framework just fine via CocoaPods on my laptop. Do you have a link to your project you are comfortable sharing?

[2017-11-15 23:17] tqhuy1811 commented on #6
My project is purely in swift.  Sure, it's just a little school project
https://github.com/MonicaTran/hobby-quest/commits/master

[2017-11-15 23:18] chrisdhaan commented on #6
Awesome! Thanks. The GitHub link will really help. I'll hopefully have a solution for you within the next 24 hours.

[2017-11-16 15:45] umerk12345 commented on #6
I tried running your IOS example but I too kept getting errors
![screen shot 2017-11-16 at 9 44 29 am](https://user-images.githubusercontent.com/17736474/32900321-d4b83496-cab2-11e7-822b-91f0cb95dc10.png)

[2017-11-16 15:55] chrisdhaan commented on #6
@umerk12345 can you fill out the following information:

## CDYelpFusionKit Environment

**CDYelpFusionKit version:**
**Xcode version:**
**Swift version:**
**Platform(s) running CDYelpFusionKit:**
**macOS version running Xcode:**

Based on the image it looks like the macOS and watchOS targets were installed which haven't been released in an official version yet which has me thinking you're possibl

[2017-11-16 16:12] chrisdhaan commented on #6
@tqhuy1811 please add the following lines of code to the bottom of your Podfile:

[code]

I was able to use this to successfully buildi CDYelpFusionKit and use it in your project. @umerk12345 try this solution if you were using CocoaPods as your dependency manager.

I will be releasing a new version of CDYelpFusionKit `2.0.0` built with Swift 4 by the end of the week. At that point this code won't

[2017-11-16 17:02] umerk12345 commented on #6
It works for me now! Thank you

[2017-11-16 20:37] tqhuy1811 commented on #6
@chrisdhaan  It works for me too ! Thank you!

[2017-11-16 20:49] tqhuy1811 commented on #6
@chrisdhaan A new problem occured
 , when I tried to **"import CDYelpFusionKit"**, it keeps saying that **"no such module exists"**  I tried to all of these solutions here https://stackoverflow.com/questions/29500227/getting-error-no-such-module-using-xcode-but-the-framework-is-there  , none of them work for me

[2017-11-16 21:00] chrisdhaan commented on #6
@tqhuy1811 I would not attempt any of the solution in that StackOverflow as they aren't related to CocoaPods. Did you try cleaning before building? I installed the framework using the code above in your project and was able to use `import CDYelpFusionKit` just fine.

[2017-11-16 21:14] tqhuy1811 commented on #6
Yes I cleaned everything but the problem still persist. I was able to get it to work by restarting my computer. Thank you anyway!

[2017-11-17 08:28] chrisdhaan commented on #5
@davecom `1.3.0` has been released with macOS, tvOS, and watchOS support.

[2017-11-17 08:29] chrisdhaan commented on #4
@xixinjie I have started updating to Swift 4.0. Hoping to have `2.0.0` out within the next 24 hours.

[2017-11-17 14:20] #5 closed, assigned to nobody

[2017-11-17 14:35] xixinjie commented on #4
@chrisdhaan Thank you man.

[2017-11-19 05:07] xixinjie commented on #4
Ah, glad that you commited the changes for Swift 4.0. Looking forward to having it (1.4.0) released.

[2017-11-19 17:34] chrisdhaan commented on #4
@xixinjie just finishing up some last documentation today and releasing `1.4.0` tonight.

[2017-11-20 06:38] xixinjie commented on #4
@chrisdhaan Looks like not released yet due to build failure

[2017-11-21 07:20] chrisdhaan commented on #4
@xixinjie `1.4.0` has been released. Please try installing and let me know how it works.

[2017-11-21 07:21] chrisdhaan commented on #6
@tqhuy1811 and @umerk12345 I've released `1.4.0` which is built with Swift 4 in mind. You can trying installing that version without the code I posted previously for the Podfile.

[2017-11-21 07:38] xixinjie commented on #4
@chrisdhaan 👍 👍 👍   It works perfectly in Swift 4.0 now. Thank you so much.

BTW, minor changes from 1.3.0 to 1.4.0:
* `CDYelpCategoryFilter` changed to `CDYelpBusinessCategoryFilter`
* Block parameters in `searchBusiness` changed from `(response, error)` to `(response)`

[2017-11-21 08:11] tqhuy1811 commented on #6
I just tried that and then this happened
![screen shot 2017-11-21 at 02 10 30](https://user-images.githubusercontent.com/23660077/33061306-40ebce8c-ce61-11e7-832c-a47fe91b1665.png)

[2017-11-21 16:14] chrisdhaan commented on #4
@xixinjie thanks for pointing out those changes. I'll update the CHANGELOG.md. Afterwards to I have your permission to close out this issue?

[2017-11-21 16:15] chrisdhaan commented on #6
@tqhuy1811 did you try cleaning and building? That is generally needed with dependency manager updates. Is your project still available on GitHub? I can always try pulling it to see what the problem is. Both I and have other users of CDYelpFusionKit have been able to install `1.4.0` and get it running.

[2017-11-21 18:02] xixinjie commented on #4
@chrisdhaan Sure, please close it then.

[2017-11-21 23:04] tqhuy1811 commented on #6
Yeah, I tried that but nothing change and my project is still available

[2017-12-04 07:47] #4 closed, assigned to nobody

[2017-12-06 05:37] davecom commented on #5
@chrisdhaan I just wanted to let you know it's been working pretty well for me on macOS. Thank you! I am using Cocoa Bindings so I do have to add @objc and @objcMembers to most model classes as well as extending NSObject, but I imagine using the Objective-C runtime is not something most users of your library care about! Just those using Cocoa Bindings.

[2017-12-06 23:36] chrisdhaan commented on #5
@davecom glad to hear things are going well. I generally don't develop for macOS so please don't hesitate to reach out if you run into issues.

[2017-12-14 00:53] davecom opened #7 "Support Yelp API Key Authentication"
* [X] I've read, understood, and done my best to follow the [*CONTRIBUTING guidelines](https://github.com/chrisdhaan/CDYelpFusionKit/blob/master/CONTRIBUTING.md).

Yelp announced today that they are deprecating token based access. I could be wrong but I think CDYelpFusionKit uses the token method.

They put the details at the bottom of the authentication page:
https://www.yelp.com/developers/docum

[2017-12-14 07:46] chrisdhaan commented on #7
Thanks for opening this @davecom. I saw the announcement. I will hopefully have time to update the authentication process this weekend.

[2018-01-02 18:42] chrisdhaan commented on #7
Holidays got a little busy. I'll work on implementing this over the next few days.

[2018-01-24 07:37] elope-developers opened #8 "Nonconsistent Rezzo Names"
* [x] I've read, understood, and done my best to follow the [*CONTRIBUTING guidelines](https://github.com/chrisdhaan/CDYelpFusionKit/blob/master/CONTRIBUTING.md).

## What did you do?

ℹ Try and call categories/cost by enum string value for "beer_and_wine"
`[CDYelpBusinessCategoryFilter(rawValue: "beer_and_wine")!]`

## What did you expect to happen?
ℹ Have algorithm Return "beer_and_wine" via
`ca

[2018-02-02 00:11] chrisdhaan commented on #8
@Linger-Software why not just do `categories: [.beerAndWine]` opposed to creating an object? That's how I intended that to be used. That's also how it is displayed in the documentation in the README.

[2018-02-02 05:28] elope-developers commented on #8
We are calling data from the server stored as a string :/ and because the Yelp API on the web and Android use the actual API keys we saw no need to modify the keys on our end. However this library uses custom ones, so we've tried to modify the keys we need, but eventually, we'll be looking at having to manage hundreds as we continue adding more and more.

To get a live demo of how relatively compl

[2018-02-02 18:08] chrisdhaan commented on #8
I still don't understand why you need to modify the keys. Web and Android have nothing to do with this library. Autocomplete lists all the categories just fine. This is not an issue with the framework. This is your personal preference. If you don't want the enum in camel case then fork the repo and update that class.

[2018-02-02 19:10] chrisdhaan commented on #7
@davecom just cleaning up the documentation and will push this update today.

[2018-02-02 19:25] davecom commented on #8
Is the issue that the category names don't match the official category names, as outlined here:
https://www.yelp.com/developers/documentation/v3/category_list

I guess I'm not 100% understanding the issue either.

[2018-02-02 19:26] davecom commented on #7
@chrisdhaan Thank you, Chris.

[2018-02-02 19:29] elope-developers commented on #8
We use your library on ios.

For starters .beerAndWine doesn't exist. You have named it
.beerAndWineSpirits (no idea why lol) as well with many other categories.

An easy example. For applications that do a dynamic search based on data
from a server (specifically yelp user data or whatever) and the category
key "beer_and_wine" is passed back, whenever we run a query, we would pass
that key through

[2018-02-02 19:31] davecom commented on #8
case beerWineAndSpirits = "beer_and_wine"

@Linger-Software I still don't understand why your specific example is an issue. As long as the rawValue (the literal String on the right hand side) is the same as the one on the other platforms you should be able to convert back-and-forth to the enum. What am I missing?

[2018-02-02 19:37] elope-developers commented on #8
For some reason the raw value is trying to match the variable with the case enum name instead of the actual value.

I.e.
the enum fruitsAndVeggies = 'markets'. When we call for the .raw value "markets", swift will value and say: "no enum matching [markets] found"

[2018-02-02 19:43] chrisdhaan commented on #8
@Linger-Software this library was built with iOS in mind, not cross platform development. Use a different library to solve your cross platform development needs or fork this repo and update the categories yourself.

[2018-02-02 19:48] davecom commented on #8
That sounds like a very bizarre bug but should have nothing to do with this library. That sounds like either a bug in Swift or in your code.

[2018-02-02 19:52] elope-developers commented on #8
Really it's a great library and very fast, just a couple of the developers working on this project have pointed out the weirdly renamed enums causing trouble for the Rezzo (iOS) counterpart. We don't have an issue with the library as a whole. We can definitely fork off, but we wanted to make the bug aware of Swift mishandling "raw value." We left some test code to try it on your end

[2018-02-13 07:51] chrisdhaan commented on #7
`1.5.0` has been released containing this update.

[2018-02-13 07:51] #7 closed, assigned to nobody

[2018-02-13 15:22] davecom commented on #7
Thanks Chris!

[2018-02-18 14:39] horea4 opened #9 "Update CDYelpTransactionType"
As per your comment in CDYelpEnums, "Currently, only food delivery is supported and it is only supported in the U.S."

Please note, however, that according to Yelp:
"Current supported values are pickup, delivery and restaurant_reservation."

Just letting you know that you should update this when you get the chance.

[2018-02-18 18:47] chrisdhaan commented on #9
Thanks for the info @horea4. I'll update this within the next few days.

[2018-03-16 01:27] Pigpocket commented on #3
Hi @chrisdhaan

I'm getting this error. This is what it says:

`2018-03-15 18:22:03.158743-0700 MartiniFinder[88440:7085370] Task <F1DC29D4-A34A-489A-BFFA-93F5842FA9F8>.<1> finished with error - code: -999
2018-03-15 18:22:03.158870-0700 MartiniFinder[88440:7085360] Task <F1DC29D4-A34A-489A-BFFA-93F5842FA9F8>.<1> HTTP load failed (error code: -999 [1:89])`

[2018-03-16 01:31] Pigpocket commented on #3
Hi @chrisdhaan

Thanks for creating this framework! I was trying to write all this from scratch--awful.

I am actually get this error after implementing it though. This is my printout:

`2018-03-15 18:30:13.698594-0700 MartiniFinder[88660:7097856] Could not inset legal attribution from corner 4
2018-03-15 18:30:13.758028-0700 MartiniFinder[88660:7097948] Task <FE5858E7-60C6-40A2-B506-99FE2DC03484>

[2018-03-16 04:59] chrisdhaan commented on #3
@Pigpocket could I get some more context into what you are trying to do? What OS are you using? you don't have to share the project but could you at least share the call you are trying to make in a Markdown code block?

[2018-03-16 05:06] Pigpocket commented on #3
Hey @chrisdhaan

I'm happy to share the code, it's for a capstone project in a class I'm taking. FYI: I have a whole bunch of organic network code in this project from me trying to build it from scratch... you can just ignore that as it is not related to the error:

https://github.com/Pigpocket/MartiniFinder

This is the specific call, I dropped the apiKey of course:

     `let yelpAPIClient = CDY

[2018-03-19 16:01] Pigpocket commented on #3
@chrisdhaan I didn't mention this is in iOS 11.1. Let me know if you need any more info. Thanks,

[2018-03-19 17:38] chrisdhaan commented on #3
Apologies for the slow response @Pigpocket. Had a busy weekend. Looking into this today.

[2018-03-19 18:56] Pigpocket commented on #3
@chrisdhaan No worries! Just glad this repo exists!

[2018-03-20 06:32] chrisdhaan commented on #3
@Pigpocket I looked in your repo on the `YelpWrapper` branch and I could not find that code. Could you point me to what class I should be looking at?

[2018-03-20 16:52] Pigpocket commented on #3
Whoops! I hadn't committed it yet. Take a look meow and let me know if you see it. It's in the MapViewController.

[2018-03-22 07:29] Pigpocket commented on #3
Hey @chrisdhaan let me know if there's any other information you need. Your repo seems perfect and I'm trying to implement it as soon as possible!

[2018-03-22 15:18] chrisdhaan commented on #3
@Pigpocket I don't have the ability to commit the changes that will fix you code to the repo. I've opened issues. Fix the issues and your code will work.

[2018-03-22 17:38] Pigpocket commented on #3
@chrisdhaan thanks for that, I see those and have made the changes but am getting: "searchBusinesses(byTerm) error:  An access token must be supplied in order to use this endpoint."

I detailed that in the issue on my repo and added you as a collaborator. Thanks so much for your help!

[2018-03-22 18:29] chrisdhaan commented on #3
@Pigpocket I'm not doing your homework for you. This is not an error with a framework. I was able to get businesses returning in your project.

[2018-03-22 18:34] Pigpocket commented on #3
@chrisdhaan sorry, I wasn't asking for that. I was just curious if your code was built on using the OAuth 2.0 system, as Yelp discontinued use of tokens as of March 1st. I'll try to figure it out on my own. Thanks for your help.

[2018-03-22 18:58] chrisdhaan commented on #3
@Pigpocket the framework is updated for the most up to date authorization system documented by Yelp. I apologize for being short with you but I work full time and develop this framework in my free time for fun. I don't have the time to help with your project.

This framework comes with an iOS Example project that works and shows how to use the framework. Have you looked at that?

[2018-03-24 18:40] Pigpocket commented on #3
@chrisdhaan I got it to work in my project, thanks.

I'm curious how to access the isOpenNow property of a business. I can get other properties like id and name via dot notation (business.id, business.name), but I can't seem to get the isOpenNow bool. I see it is an array of type CDYelpHour and I attempt business.hours[0].isOpenNow but I get a nil value. I've tried with different indexes as well w

[2018-03-25 04:25] davecom commented on #3
@Pigpocket you won't get access to the hours of a business unless you do an additional API request using the business lookup call. The search call does return businesses, but they do not have all of their information filled in. For an example of the differences in data the two API calls return, see the documentation on the Yelp Developer site for the two endpoints. Business Search:

https://www.ye

[2018-03-25 04:45] Pigpocket commented on #3
Hey @davecom,

Ok. I actually originally wrote my own code to make both of those calls separately, one after the other. My second call runs up against the API's QPS rate-limiting. I'm new to networking, but that strikes me as a bit odd... trying to get the isOpenNow property, for say, 20 businesses doesn't seem like it would be hugely taxing on the server (but that could just be because I don't fu

[2018-03-25 05:46] davecom commented on #3
@Pigpocket This framework does not use the GraphQL API. If you want to do that, you'll need to do that outside of the framework. Using Yelp Fusion (as this framework does) you need two calls (search + business lookup) to get a business's hours. So, yes if you are doing a search (1 API call) and then immediately 20 business lookups (20 more API calls) then you would be exceeding the Yelp limit of 5

[2018-03-25 05:47] davecom commented on #3
PS If all you are interested in is finding out what businesses are open now, there is an option for filtering by that in the search endpoint.

[2018-03-25 06:04] Pigpocket commented on #3
@davecom,

Ok, awesome... that answers my question. Thanks!

I do recognize that there is an option to filter only businesses that are open at the moment, but that doesn't align with the intended use case for my app.

Thanks for the quick feedback... I know this framework has no commercial component, so I appreciate all the support you and @chrisdhaan have given me so far. Feel free to ignore my q

[2018-03-25 06:12] davecom commented on #3
@Pigpocket In response to your first question, I don't know and you would have to ask the Yelp developers. My guess is that they want to keep the amount of bandwidth used by the search API, since it returns multiple businesses at once, limited to essential information.

In response to your second question, you would have to ask @chrisdhaan since it's his framework. However, it would be a huge unde

[2018-03-25 06:20] Pigpocket commented on #3
Yep, makes sense.

Thanks again to you both and whoever else helped build and/or support this framework.

[2018-06-09 01:06] scottiesan commented on #3
I had the same issue.  For me It was trying to access the client before it was finish intializing, i forgot to init the singleton in the app delegate :
try adding the below call in the app delegate method: didFinishLaunchingWithOptions
        CDYelpFusionKitManager.shared.configure() or whatever call you use to init the client with your token.

[2018-07-12 21:26] snowzurfer commented on #3
I am still having this issue:

[code]

The call I make is:

[code]

How can I solve it? And thanks for the repo, once I get it to work it will be super handy.

[2018-09-17 17:13] kbunarjo opened #13 "Response object returning nil"
I tried to create a search request doing the following:

[code]

## What did you expect to happen?

I expected that the `response` object have something in its contents.

## What happened instead?

The `response` object was `nil`. Furthermore, I got this error message in the console: `searchBusinesses(byTerm) failure:  cancelled`. However, I ran this project multiple times and there was once where

[2018-09-18 01:48] #13 closed, assigned to nobody

[2018-10-03 03:41] davecom opened #14 "Update to Newer Version of AlamofireObjectMapper/Swift 4.2 Compatibility"
* [X] I've read, understood, and done my best to follow the [*CONTRIBUTING guidelines](https://github.com/chrisdhaan/CDYelpFusionKit/blob/master/CONTRIBUTING.md).

Currently, the podspec ties CDYelpFusionKit to version 5.0.0 of AlamofireObjectMapper, but this has sub-dependencies that are incompatible with the latest version of Swift (4.2) as found in Xcode 10. It would be great if we can get a ve

[2018-10-26 20:46] chrisdhaan commented on #14
@davecom thanks for pointing this out. I'll update this weekend.

[2018-11-03 07:50] chrisdhaan commented on #14
@davecom the update has been merged in to master. I'm doing some more cleanup on the project and will release a new version tomorrow.

[2018-11-03 14:32] davecom commented on #14
Thank you, Chris! Much appreciated.

[2018-11-09 15:16] zhuo-ran-liu commented on #14
hi Chris,

I'm trying to run the code from git on swift 4.2, and it says "No such module 'Alamofire'".  I tried with commenting the line "import Alamofire", and it seems that all the dependencies are missing for some reason.
I'm quite new to swift, is there anything that I'm doing wrong? Thanks in advance.

<img width="1280" alt="screenshot 2018-11-09 at 16 11 23" src="https://user-images.githubus

[2018-11-09 15:54] davecom commented on #14
Hi @SylvieLiu,
You need to install `CDYelpFusionKit` using a package manager like CocoaPods or Carthage. Please see the Installation directions in the README. If you install via a package manager, it will install all of the dependencies like Alamofire.
Hope this helps!

[2018-11-09 16:04] zhuo-ran-liu commented on #14
Thanks for the quick response @davecom .

I created a pod and add the line "pod 'CDYelpFusionKit', '~> 1.5'" to each target, I also tried to clean up the project and rebuild. However, it doesn't help, the modules are still missing for some reason.

I also tried to integrate it the Kit in a empty project, it builds successfully. However, the frameworks appear red, and I'm getting "nw_proxy_resolver

[2018-11-09 23:44] davecom commented on #14
I assume you are opening the workspace file and not the regular xcproject file?

[2018-11-10 08:20] zhuo-ran-liu commented on #14
@davecom Hi David, that's unfortunately not the cause of the problem:/

[2018-12-14 14:44] chrisdhaan commented on #14
This has been completed in version `1.5.1`. Closing issue.

[2018-12-14 14:44] #14 closed, assigned to nobody

[2018-12-15 18:48] chrisdhaan commented on #9
@horea4 I have pushed an update that includes the new transaction types to master. If you pull from master you can get these changes. I will be releasing a new update in a few days that will also include those changes and will close this issue then.

[2019-03-25 17:15] JB184351 commented on #6
Has there been an update on this? I am trying to use Yelp API for a simple application that will allow users to find Bowling Locations and mostly doing this to learn basic iOS development. I also have an issue when trying to import CDYelpFusionKit

[2019-03-27 16:19] JB184351 commented on #6
Update: I was able to get it to work I think I didn't quite follow directions quite right or just looked at a different set of instructions when installing via CocoaPods and all that I did was this

pod 'CDYelpFusionKit', '1.5.1'
target 'PROJECT_NAME_GOES_HERE'

Before I only had pod 'YelpAPI' so if your having issues with the 'import CDYelpFusionKit' this may help you.

Just kidding I didn't have

[2019-03-29 22:57] bureauvk opened #15 "Swift 5 Support"
Hi Chris, amazing wrapper. I like it. Thanks for your work.

Are you planning on updating so this Pod will support Swift 5? The AlamofireObjectMapper dependency has to be updated to 6.0.0 I believe.

[2019-04-10 07:19] Hsanka6 opened #16 "Stars Image doesn't work"
* [x] I've read, understood, and done my best to follow the [*CONTRIBUTING guidelines](https://github.com/chrisdhaan/CDYelpFusionKit/blob/master/CONTRIBUTING.md).

## What did you do?

star.image = UIImage.yelpStars(numberOfStars: .two, forSize: .regular)

## What did you expect to happen?

I expected to get an image with stars

## What happened instead?

No star image was populated

## CDYelpFusi

[2019-04-15 21:40] chrisdhaan commented on #15
@bureauvk yes I do plan on making this update some time in the next three weeks. Apologies for not having it out sooner but I have a lot going on right now and can't get to it sooner.

[2019-04-15 21:41] chrisdhaan commented on #16
@Hsanka6 I'll look into this

[2019-06-01 11:16] filsv commented on #15
Hi @chrisdhaan , Swift 5 version already updated? :)

[2019-11-25 19:36] AndrewDennistoun commented on #13
Hey Kevin, did you end up solving this? The same thing is happening for me and I haven't yet figured it out.

[2019-11-26 00:39] AndrewDennistoun commented on #13
Never mind I figured it out, I was trying to access the client before it was finished initializing. I ended up creating [this class from the example](https://github.com/chrisdhaan/CDYelpFusionKit/blob/master/Example/Source/CDYelpFusionKitManager.swift) and then initializing the client in the AppDelegate [(again like the example)](https://github.com/chrisdhaan/CDYelpFusionKit/blob/master/Example/So

[2020-03-18 05:47] nys99 commented on #3
@snowzurfer Were you able to resolve this issue? I am running into the same problem.

[2020-03-30 14:58] Static-Flow opened #17 "apiClient.fetchBusiness sometimes returns nil for a business that does exist."
* [X ] I've read, understood, and done my best to follow the [*CONTRIBUTING guidelines](https://github.com/chrisdhaan/CDYelpFusionKit/blob/master/CONTRIBUTING.md).

## What did you do?

I am trying to fetch a business when constructing a VIewController with apiClient.fetchBusiness like so:
[code]
For context this code is eventually called from inside a Google Firestore closure where I am pulling t

[2020-03-30 15:13] Static-Flow commented on #17
My hunch is it has something to do with calling it inside another closure because if I defer the creation of the ViewController until after the Firestore call I don't get any errors. I was wanting to preload them so when the user opens the view there isn't a delay while the Yelp API call finishes.

[2020-03-30 17:26] #17 closed, assigned to nobody

[2020-04-10 20:48] YasminL commented on #3
@snowzurfer Late answer but I just installed this pod and noticed that if I made the request right after initializing the `CDYelpAPIClint(apiKey:)`, I got the same error. I moved calling this function (searchBusinesses) at a later stage, after the rootViewController did load and it worked fine after that. I guess we have to make sure to call searchBusiness (or any other call I would say) once we k

[2020-06-16 04:54] KevinVladG opened #18 "CDYelpFusionKit dependencies do not work with Alamofire 5+, Alamofireimage 4.1, Alamofire 6.2.0"
Will there be an update to using updated Alamofire repos

## What did you do?
install Yelp fusion kit

## What did you expect to happen?
be able to use Alamofireimage to get url images from the yelp api to show easier

## What happened instead?
Error when installing pod

Analyzing dependencies
[!] CocoaPods could not find compatible versions for pod "Alamofire":
  In Podfile:
    AlamofireImage (~

[2020-08-30 14:06] chrisdhaan commented on #9
Addressed in version `1.5.1`

[2020-08-30 14:06] #9 closed, assigned to nobody

[2020-08-30 19:50] chrisdhaan commented on #15
@bureauvk @filsv addressed in #19

[2020-08-30 19:50] #15 closed, assigned to nobody

[2020-08-30 19:51] chrisdhaan commented on #18
@KevinVladG addressed in #19

[2020-08-30 19:51] #18 closed, assigned to nobody

[2020-09-02 16:18] JakeEllis opened #21 "SearchBusinesses returns NIL for hours"
* [ ] I've read, understood, and done my best to follow the [*CONTRIBUTING guidelines](https://github.com/chrisdhaan/CDYelpFusionKit/blob/master/CONTRIBUTING.md).

 CDYelpFusionKitManager.shared.apiClient.cancelAllPendingAPIRequests()
        // Query Yelp Fusion API for business results
        CDYelpFusionKitManager.shared.apiClient.searchBusinesses(byTerm: currentActivity,

[2020-11-12 07:16] boyuanx opened #22 "imageUrl and url returning as nil (+ solution)"
* [x] I've read, understood, and done my best to follow the [*CONTRIBUTING guidelines](https://github.com/chrisdhaan/CDYelpFusionKit/blob/master/CONTRIBUTING.md).

## What did you do?

Send a normal query to Yelp

## What did you expect to happen?

`imageUrl` and `url` are available

## What happened instead?

They are nil.

## CDYelpFusionKit Environment

**CDYelpFusionKit version:**  2.1.0
**Xco

[2021-04-21 21:02] chrisdhaan commented on #21
@JakeEllis apologies for the delayed response. I will look into this

[2021-04-21 21:03] chrisdhaan commented on #22
Thanks for this @boyuanx . I'll get to it soon

[2021-05-30 17:23] chrisdhaan commented on #16
@Hsanka6 I just updated the example and ran it locally with `two` and `regular` and the image rendered fine:

https://github.com/chrisdhaan/CDYelpFusionKit/blob/master/Example/Source/ViewController.swift#L52

Are you still experiencing this issue? I think it may be related to your project.

[2021-05-30 17:34] chrisdhaan commented on #21
@JakeEllis not all businesses populate the hours property. I've loaded up the example and the response returned from the `business/id` endpoint returns a business with hours populated if you need an example that has them

[2021-05-30 19:56] chrisdhaan commented on #22
@boyuanx fixed with version `2.1.1`. Closing.

[2021-05-30 19:56] #22 closed, assigned to nobody

[2021-08-09 07:32] KevinVladG opened #26 "Swift package manager fails on new project."
* [x] I've read, understood, and done my best to follow the [*CONTRIBUTING guidelines](https://github.com/chrisdhaan/CDYelpFusionKit/blob/master/CONTRIBUTING.md).

## What did you do?

added dependency using GitHub link: https://github.com/chrisdhaan/CDYelpFusionKit.git

## What did you expect to happen?

Swift package manager add package dependencies.

## What happened instead?

Swift package res

[2021-08-09 07:45] KevinVladG commented on #26
This is a SwiftUI project but Its just adding the package that fails

[2021-08-09 08:37] KevinVladG commented on #26
Creating a PR for this Fix I believe it's a very simple change to the Package.swift file, that is needed.

[2021-08-09 08:56] KevinVladG commented on #26
![Screen Shot 2021-08-09 at 4 54 08 AM](https://user-images.githubusercontent.com/47987527/128681628-c618c1b6-40d9-4816-88c2-cdb975d518e1.png)

I was able to add the dependency when changing the following code:

![Screen Shot 2021-08-09 at 4 55 00 AM](https://user-images.githubusercontent.com/47987527/128681836-b195ea7c-dfdf-4492-955b-43aee10dc894.png)

However, when building I get these errors:

[2021-08-09 09:20] KevinVladG commented on #26
Cleaned the build folder and now I'm only left with one error:

![Screen Shot 2021-08-09 at 5 20 20 AM](https://user-images.githubusercontent.com/47987527/128684823-64265938-50e9-4fcc-8741-7f0b651bab3b.png)

progress!

[2021-08-30 18:13] Mcrich23 commented on #26
Can you please walk me through how you did this? I am have the exact same issue

[2021-08-31 17:41] KevinVladG commented on #26
@Mcrich23 check out my pull request, you might have to fork my branch, hopefully @chrisdhaan can merge this change for those who want to use swift package manager

[2021-08-31 18:22] Mcrich23 commented on #26
How do I install it?

[2021-08-31 18:27] Mcrich23 commented on #26
What is the change? Can I get this file and can you tell me what to replace where?

[2021-09-01 01:03] KevinVladG commented on #26
you install it like any other swift package.... I don't know what you mean my guy check the PR??? it shows you the file changes. there's no file

[2021-09-13 02:24] chrisdhaan commented on #26
@KevinVladG @Mcrich23 I've released `3.0.0` today which includes the fix. Let me know if you run into any other issues.

[2021-09-15 03:58] KevinVladG commented on #26
@chrisdhaan version 3.0.0 fails for:

![Screen Shot 2021-09-14 at 11 56 05 PM](https://user-images.githubusercontent.com/47987527/133368219-f4e46fbe-012c-413a-b6bd-37fb5dd0a9cd.png)

it's a simple change in the Package.swift file, in your targets, the name should come before for the dependencies.

![Screen Shot 2021-09-14 at 11 54 37 PM](https://user-images.githubusercontent.com/47987527/133368299

[2021-09-17 17:18] chrisdhaan commented on #26
@KevinVladG i'm pushing out a fix today and have added a CI test to avoid my breaking the config in the future

[2021-09-17 18:58] chrisdhaan commented on #26
@KevinVladG I've released `3.0.1` which should work fine. If you could confirm for me that it's working on your end I'll close out this issue after.

[2021-09-18 04:55] KevinVladG commented on #26
![Screen Shot 2021-09-18 at 12 55 17 AM](https://user-images.githubusercontent.com/47987527/133873065-f2adffde-b78c-4abf-b1d3-7fe37b74929a.png)
Success!!! no errors when adding swift package! green light to close this issue! Thank you @chrisdhaan for your hard work and timely response!!!

[2021-09-18 13:27] #26 closed, assigned to nobody

[2021-10-18 03:04] Mcrich23 opened #30 "Fetching Categories"
* [x] I've read, understood, and done my best to follow the [*CONTRIBUTING guidelines](https://github.com/chrisdhaan/CDYelpFusionKit/blob/master/CONTRIBUTING.md).

## What did you do?

I tried to fetch a category title

## What did you expect to happen?

it to return a category title

## What happened instead?

`fetchCategories(forLocale) alias:  Response status code was unacceptable: 403.` was pr

[2021-11-26 17:17] chrisdhaan commented on #30
I'll take a look into this @Mcrich23

[2022-03-12 02:36] Mcrich23 opened #32 "Food Trucks Come Back in Invalid Format"
## What did you do?

I tried to search for Food Trucks by using seachBusinesses(byTerm: "Food Trucks", ...) and also trying using seachBusinesses(byTerm: "", ..., categories [.foodTrucks], ...)

## What did you expect to happen?

It to fetch correctly

## What happened instead?

It came back with an error saying that it was unable to decode, because it was an invalid format.

## CDYelpFusionKit En

[2022-03-24 01:23] Mcrich23 commented on #30
Thx!

[2022-04-06 05:08] davecom commented on #32
FWIW I'm seeing something similar when searching particular categories of restaurants and also when searching by closest distance. I'm investigating it further too to see exactly where the mismatch is for decoding.

[2022-04-06 06:36] davecom commented on #32
I've found that the problem has to do with the decoding of image_url. I had to make a change to CDYelpBusiness:
`public let imageUrl: URL?`
became
`public let imageUrl: String?`

This seems to be because it can't decode it into a URL when the JSON response has "" for image_url.

[2022-04-06 14:28] Mcrich23 commented on #32
Thx

[2022-06-13 18:29] chrisdhaan commented on #32
Thanks for bringing this up @Mcrich23 . And thanks for opening a PR @davecom . Sorry about the slow response. I'll take a look this week.

[2022-07-03 01:07] Mcrich23 opened #35 "Hours always coming back nil"
* [x] I've read, understood, and done my best to follow the [*CONTRIBUTING guidelines](https://github.com/chrisdhaan/CDYelpFusionKit/blob/master/CONTRIBUTING.md).

## What did you do?

Tried to get hours of yelp restaurants.

## What did you expect to happen?

Came back with hours

## What happened instead?

Came back nil

## CDYelpFusionKit Environment

**CDYelpFusionKit version: 3.1.0**
**Xcode

[2022-07-03 01:16] Mcrich23 commented on #35
It doesn't even work in the example project

[2022-08-02 18:43] chrisdhaan commented on #32
@Mcrich23 @davecom this should be fixed with `3.2.0`. Can you confirm?

[2022-08-02 18:44] chrisdhaan commented on #35
@Mcrich23 which endpoint are you querying?

[2022-08-02 18:45] chrisdhaan commented on #21
`hours` is now only returned with the object in the supported endpoint. Closing do to lack of activity.

[2022-08-02 18:45] #21 closed, assigned to nobody

[2022-08-02 18:47] chrisdhaan commented on #30
@Mcrich23 I tested the endpoint this morning and it seemed to be working. Are you still experiencing this issue?

[2022-08-02 18:56] Mcrich23 commented on #32
It works!!!! @chrisdhaan

[2022-08-02 22:01] Mcrich23 commented on #35
@chrisdhaan I am doing the business endpoint

[2022-08-03 06:16] chrisdhaan commented on #32
Thanks for confirming. Closing since #36 addressed this issue.

[2022-08-03 06:16] #32 closed, assigned to nobody

[2022-11-22 00:22] Mcrich23 commented on #35
Update @chrisdhaan , it works, but I am trying to just do 20 in a row and it rate limits, is there anyway for the data to come back with the search?